<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Admin After Login</title>
</head>


<body background="{{url_for('static', filename='images/login3.jpg')}}" style="height:900" style="width:1400">
  <!-- main app container -->
  <div class="container" style="text-align: center;">
    <br />
    <br />
    <nav>
      <b>
        <a href="/viewall"><button type="button" class="btn btn-primary">VIEW ALL</button></a>
		<a href="/search"><button type="button" class="btn btn-primary">SEARCH</button></a>
		<a href="/delete"><button type="button" class="btn btn-primary">DELETE</button></a>
		<a href="/mentorasign"><button type="button" class="btn btn-primary">ASIGN STUDENT MENTOR</button></a>
		<a href="/admincontact"><button type="button" class="btn btn-primary">CONTACT DETAILS</button></a>
		<a href="/login"><button type="button" class="btn btn-primary">LOGOUT</button></a>
      </b>
    </nav>
    <br />
    <br />

    <h1 style="color:red;"> WELCOME ADMIN</h1>
    <h3> NOW THIS DASHBOARD IS YOURS </h3>

</body>

</html>