[0:32 am, 14/09/2021] Supriyo(Khirpai): <!DOCTYPE html>
<html>
    <head>
        
        <title>Student Results</title>
        <script>
		function getReport(){

            var grade = "";  //declare a variable for grade
            var  result="";  //declare a variable for result

            //read the marks
            var engMarks = document.getElementById('txtEnglish').value;
            var kannadaMarks = document.getElementById('txtKannada').value;
            var mathsMarks = document.getElementById('txtMaths').value;
            var scienceMarks = document.getElementById('txtScience').value;
            
            //calculate the total marks (using double notation technique)
             var totalMarks = engMarks - (- kannadaMarks) - (- mathsMarks) - (- scienceMarks);
            
  …
[2:41 am, 14/09/2021] Supriyo(Khirpai): <!DOCTYPE html>
<html>
<head>
	<title>Teacher Upadate Profile</title>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script>
if(isset($_POST['submit']))
{
    foreach ($_POST['attendance_status'] as $id => $attendance_status)
    {
        $roll_no = $_POST['roll_no'][$id];
        $student_name = $_POST['student_name'][$id];
        $date_created = date('Y-m-d H:i:s');
        $date_modified = date('Y-m-d H:i:s');
         
        $attendance = $conn->prepare("INSERT INTO attendance (roll_no, student_name, date_created, date_modified, attendance_status) VALUES (?, ?, ?, ?, ?)");
        $attendance->bind_param("issss", $roll_no, $student_name, $date_created, $date_modified, $attendance_status);
        $attendance->execute();
    }
     
    if ($conn->affected_rows==1) {
        $msg = "Attendance has been added successfully";
    }
}
</script>







<form action="" method="post">
    <table>
        <tbody>
            <tr>
                <td>S.I</td>
                <td>Roll No</td>
                <td>Student Name</td>
                <td>Attendance</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    123
                    <input type="hidden" name="roll_no[]" value="123" />
                </td>
                <td>
                    Raj Shekhar
                    <input type="hidden" name="student_name[]" value="Raj Shekhar" />
                </td>
                <td>
                    <label for="present0">
                        <input type="radio" id="present0" name="attendance_status[0]" value="Present"> Present
                    </label>
                    <label for="absent0">
                        <input type="radio" id="absent0" name="attendance_status[0]" value="Absent"> Absent
                    </label>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    231
                    <input type="hidden" name="roll_no[]" value="231" />
                </td>
                <td>
                    Pankaj Kumar
                    <input type="hidden" name="student_name[]" value="Pankaj Kumar" />
                </td>
                <td>
                    <label for="present1">
                        <input type="radio" id="present1" name="attendance_status[1]" value="Present"> Present
                    </label>
                    <label for="absent1">
                        <input type="radio" id="absent1" name="attendance_status[1]" value="Absent"> Absent
                    </label>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    345
                    <input type="hidden" name="roll_no[]" value="345" />
                </td>
                <td>
                    Amit Singh
                    <input type="hidden" name="student_name[]" value="Amit Singh" />
                </td>
                <td>
                    <label for="present2">
                        <input type="radio" id="present2" name="attendance_status[2]" value="Present"> Present
                    </label>
                    <label for="absent2">
                        <input type="radio" id="absent2" name="attendance_status[2]" value="Absent"> Absent
                    </label>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    456
                    <input type="hidden" name="roll_no[]" value="456" />
                </td>
                <td>
                    Arjun Kumar
                    <input type="hidden" name="student_name[]" value="Arjun Kumar" />
                </td>
                <td>
                    <label for="present3">
                        <input type="radio" id="present3" name="attendance_status[3]" value="Present"> Present
                    </label>
                    <label for="absent3">
                        <input type="radio" id="absent3" name="attendance_status[3]" value="Absent"> Absent
                    </label>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    567
                    <input type="hidden" name="roll_no[]" value="567" />
                </td>
                <td>
                    Amit Kumar
                    <input type="hidden" name="student_name[]" value="Amit Kumar" />
                </td>
                <td>
                    <label for="present4">
                        <input type="radio" id="present4" name="attendance_status[4]" value="Present"> Present
                    </label>
                    <label for="absent4">
                        <input type="radio" id="absent4" name="attendance_status[4]" value="Absent"> Absent
                    </label>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    789
                    <input type="hidden" name="roll_no[]" value="789" />
                </td>
                <td>
                    Suraj Tiwari
                    <input type="hidden" name="student_name[]" value="Suraj Tiwari" />
                </td>
                <td>
                    <label for="present5">
                        <input type="radio" id="present5" name="attendance_status[5]" value="Present"> Present
                    </label>
                    <label for="absent5">
                        <input type="radio" id="absent5" name="attendance_status[5]" value="Absent"> Absent
                    </label>
                </td>
            </tr>
             
        </tbody>
    </table>
     
    <br/>
    <input type="submit" name="submit" value="Mark Attendance" />
</form>

</body>
</html>